<header class="layout">
  <article>
    <h1>
      <a href="/">
        <svg width="500" height="500" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="500" height="500" rx="25" fill="white"/>
          <path d="M482.512 28.009C482.512 23.8669 479.154 20.5089 475.012 20.5088C470.87 20.5087 467.512 23.8665 467.512 28.0086L482.512 28.009ZM475 472L468.916 476.386C470.819 479.026 474.207 480.137 477.304 479.138C480.401 478.138 482.5 475.255 482.5 472.001L475 472ZM154.977 28.009L161.061 23.6235C159.158 20.9834 155.77 19.8719 152.673 20.8717C149.576 21.8715 147.477 24.7545 147.477 28.009L154.977 28.009ZM147.477 251C147.477 255.142 150.835 258.5 154.977 258.5C159.119 258.5 162.477 255.142 162.477 251L147.477 251ZM467.512 28.0086L467.5 472L482.5 472.001L482.512 28.009L467.512 28.0086ZM481.084 467.615L161.061 23.6235L148.892 32.3944L468.916 476.386L481.084 467.615ZM147.477 28.009L147.477 251L162.477 251L162.477 28.009L147.477 28.009Z" fill="black"/>
          <line x1="377.5" y1="32.5" x2="377.5" y2="467.5" stroke="black" stroke-width="15" stroke-linecap="round"/>
          <line x1="159.477" y1="246.477" x2="467.477" y2="245.523" stroke="black" stroke-width="15" stroke-linecap="round"/>
          <circle cx="155" cy="250" r="122.5" stroke="black" stroke-width="15"/>
          <path d="M155 251C155 325 49 325 49 251" stroke="black" stroke-width="15" stroke-linecap="round"/>
        </svg>
        <span>My Blog</span>
      </a>
    </h1>
  </article>
</header>

<style>
header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 5rem;
}
article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-subitem {
  display: flex;
  flex-grow: 0;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  color: var(--theme-text-lighter);
  font-size: initial;
  padding: 0.5rem;
}
.header-subitem:hover {
  color: var(--theme-accent);
}
.header-subitem svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 32em) {
  .header-subitem {
    display: none;
  }
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  max-width: 100%;
  display: flex;
  flex-grow: 1;
}

.logo {
  transform: translateY(0.25rem);
}

svg {
  width: 2.5rem;
  height: 2.5rem;
}

h1 a {
  text-decoration: none;
  display: inline-flex;
}
</style>
