---
import Logo from './Logo.astro';
---



<header
  class="grid-header grid grid-flow-col items-center justify-between py-4 padding-x">
  <article class="pr-4">
    <h1>
      <a href="/">
        <Logo />
        <span class="sr-only">John Cheng</span>
      </a>
    </h1>
  </article>
  <article>
    <nav>
      <ul
        class="grid grid-flow-col gap-4 place-items-center overflow-scroll h-full">
        <li class="p-2"><a href="/blog">Blog</a></li>
        <li class="p-2"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </article>
</header>
