---
import Logo from './Logo.astro';
---



<header
  class="grid-header grid grid-flow-col items-center justify-between pt-4">
  <article>
    <h1>
      <a href="/">
        <Logo />
        <span class="sr-only">John Cheng</span>
      </a>
    </h1>
  </article>
  <article class="grid grid-flow-col gap-8">
    <section>
      <a href="/about">Projects</a>
    </section>
    <section>
      <a href="/about">About</a>
    </section>
    <section>
      <a href="/contact">Contact</a>
    </section>
  </article>
</header>
